# Взять из EmailJS Dashboard → Email Services
VITE_EMAILJS_SERVICE_ID=service_xxxxxxx

# Взять из EmailJS Dashboard → Email Templates
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx

# Взять из EmailJS Dashboard → Account → General → Public Key
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxx
